.navbar1 {
    
    grid-area: nav;
   
  }

  
  @media only screen and (max-width: 978px) {
    .nav_icon {
      display: inline;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .navbar__left {
      display: none;
    }
  }
  